<form class="add-book-form" [formGroup]="addBookForm" (ngSubmit)="save()">
    <div class="form-group" style="color: white;">
        <label for="FormatType">File Extension</label><br>
        <input class="form-check-input" type="radio" name="formatType" id="FormatType" value="pdf" formControlName="formatType"> .pdf
        <input class="form-check-input" type="radio" name="formatType" id="FormatType" value="doc" formControlName="formatType"> .doc
    </div>
    <div class="form-group">
      <label for="docFormat">Doc Format</label>
      <input type="text" class="form-control" id="docFormat" formControlName="docFormat">
      <label class="validationErrors" *ngIf="docErrorMessage">
        {{docErrorMessage}}
      </label>

    </div>
    <div class="form-group">
      <label for="pdfFormat">PDF Format</label>
      <input type="text" class="form-control" id="pdfFormat" formControlName="pdfFormat">
      <label class="validationErrors" *ngIf="pdfErrorMessage">
        {{pdfErrorMessage}}
      </label>
    </div>
    <div class="form-group">
      <label for="Title">Title</label>
      <input type="text" class="form-control" id="Title" formControlName="title">
      <label class="validationErrors" *ngIf="titleErrorMessage">
        {{titleErrorMessage}}
      </label>
    </div>
    <div class="form-group">
      <label for="Author">Author:</label>
      <input type="text" class="form-control" id="Author" formControlName="author">
      <label class="validationErrors" *ngIf="authorErrorMessage">
        {{authorErrorMessage}}
      </label>
    </div>
    <div class="form-group">
        <label for="PageCount">Number of pages:</label>
        <input type="number" class="form-control" id="PageCount" formControlName="pages">
        <label class="validationErrors" *ngIf="addBookForm.get('pages')?.invalid && addBookForm.get('pages')?.touched">
          <span *ngIf="addBookForm.get('pages')?.errors?.required">This is required</span>
        </label>
    </div>
    <div class="form-group price" formGroupName="price">
      <label for="Price">Price:</label>
      <select name="price" aria-placeholder="Price" class="form-select" formControlName="value">
        <option *ngFor="let price of prices" [value]="price.value"> {{ price.viewValue }} </option>
      </select>
      <label for="Price">Currency:</label>
      <select name="price" aria-placeholder="Price" class="form-select" formControlName="currency" style="width: 50px;">
          <option *ngFor="let c of currency" [value]="c.value"> {{ c.viewValue }} </option>
      </select>
    </div>
    <div class="form-group">
        <label for="PublishedDate">Published Date</label>
        <input type="date" class="form-control" id="PublishedDate" formControlName="publishedDate">
        <label class="validationErrors" *ngIf="addBookForm.get('publishedDate')?.invalid && addBookForm.get('publishedDate')?.touched">
          <span *ngIf="addBookForm.get('publishedDate')?.errors?.required">This is required</span>
        </label>
    </div><br>
    <div class="form-check form-switch">
      <label class="form-check-label" for="flexSwitchCheckDefault">Is book published?</label>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="isPublished">
    </div><br>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-primary" (click)="initSingleValues()">Update title</button>
      <button type="button" class="btn btn-primary" (click)="initAllValues()">Update all</button>
    </div>
  </form>

  <div style="color:white">
    {{ addBookForm.value | json }}
    <div class="validations">
      title: {{ addBookForm.get('title')?.valid ? '' : addBookForm.get('title')?.errors | json}}<br>
      author: {{ addBookForm.get('author')?.valid ? '' : addBookForm.get('author')?.errors | json}}<br>
      pages: {{ addBookForm.get('pages')?.valid ? '' : addBookForm.get('pages')?.errors | json}}<br>
      price: {{ addBookForm.get('price')?.valid ? '' : addBookForm.get('price')?.errors | json}}<br>
      publishedDate: {{ addBookForm.get('publishedDate')?.valid ? '' : addBookForm.get('publishedDate')?.errors | json}}<br>
      isPublished: {{ addBookForm.get('isPublished')?.valid ? '' : addBookForm.get('isPublished')?.errors | json}}<br>
    </div>
  </div>